* {
  box-sizing: border-box;
  font-family: "Poppins", "Sarabun", sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #ffb6da;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app {
  width: 90%;
  max-width: 360px;
  min-height: 90vh;
  background: #ffe1f0;
  border-radius: 40px;
  padding: 25px;
}

.page {
  display: none;
  text-align: center;
}

.page.active {
  display: block;
}

h2 {
  color: #ff5fa2;
}

.white-box {
  background: white;
  border-radius: 25px;
  padding: 20px;
  margin: 20px 0;
}

img, video {
  width: 100%;
  border-radius: 20px;
}

#slide {
  width: 100%;
  max-width: 280px;   /* กำหนดความกว้างสูงสุด */
  height: 380px;      /* กำหนดความสูง */
  object-fit: cover;  /* ครอบรูปให้พอดี ไม่บิด */
  border-radius: 20px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  margin-top: 20px;
}

.btn {
  margin-top: 15px;
  padding: 10px 30px;
  border-radius: 30px;
  border: none;
  background: white;
  color: #ff5fa2;
  font-size: 16px;
  cursor: pointer;
}

.controls {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
